<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Allergies</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Allergy Test</h1>
                <h3>Enter your score and see what you're allergic to!</h3><br>

            </header>
            <form class="" action="/return" method="post">
                <div class="form-group">
                    <label for="allergy_score">Enter your Allergy Score</label>
                    <input id="allergy_score" type="text" name="allergy_score">
                </div>
                <button class="btn" >Get Allergy Score</button>
            </form>
        </div>
    </body>
</html>
